<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.aban.test.dao.BookMapper">
	<insert id="insert_book" parameterType="Book">
		insert into book
			values(
				BOOK_NUM_SEQ.NEXTVAL,
                BOOK_INDEX_SEQ.NEXTVAL,
				#{book_title},
				#{book_image},
				#{book_writer},
				#{book_date},
				#{book_publisher},
				#{book_content},
				0,
                0,
                0
			)
	</insert>


    <select id="show_all_book" resultType="TestVO">
        SELECT * FROM book
        where BOOK_TITLE in('연금술사', '데미안')
            
	</select>

</mapper>