<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.aban.test.dao.BookMapper">
	<insert id="insert_book" parameterType="java.util.List">
	<foreach collection="list" item="book" index="index" separator=" " open="INSERT ALL " close="SELECT * FROM DUAL">
		into book(
         	book_num,
			book_title,
			book_image,
			book_writer,
			book_date,
			book_publisher,
			book_content,
			book_likecount,
			book_viewcount,
			book_scrapcount
      		)values
			(
				#{book.book_num},
				#{book.book_title},
				#{book.book_image},
				#{book.book_writer},
				#{book.book_date},
				#{book.book_publisher},
				#{book.book_content},
				0,
                0,
                0
            )
		</foreach>
	</insert>
	
	<select id="select_book_recommend" resultType="Book">
        SELECT 
           *
        FROM book
        where rownum between 1 and 30
   </select>
   
    <select id="show_all_book" resultType="Book">
        SELECT 
        	BOOK_NUM,
        	BOOK_CONTENT
        FROM book
	</select>
    <select id="selectOne" parameterType="Book" resultType="Book">
		select *
		from book
			where book_title = #{book_title}

	</select>

	<select id="select_book" parameterType="Book" resultType="Book">
		select distinct
			book_num,
			book_title,
			book_image,
			book_writer,
			book_date,
			book_publisher,
			book_likecount
		from book
			where book_title = #{book_title}
			and book_image = #{book_image}
			and book_publisher = #{book_publisher}
	</select>
	
	<insert id="insert_tag" parameterType="java.util.List">
		<foreach collection="list" item="tag" index="index" separator=" " open="INSERT ALL " close="SELECT * FROM DUAL">
		into tag(
			tag_seq,
			tag,
			tag_count,
			hit_count,
			tag_image
		)values(
			#{tag.tag_seq},
			#{tag.tag},
			#{tag.tag_count},
			0,
			null
		)
		</foreach>
	</insert>
	
	<select id ="select_all_tag" resultType = "String">
		select tag from tag
		order by tag_count desc
	</select>

	<select id="show_tags" resultType="Tag">
        SELECT 
            *
        FROM tag
        ORDER BY
	        tag_count DESC
	</select>
	
	<insert id = "insert_taglist" parameterType = "java.util.List">
		<foreach collection="list" item="taglist" index="index" separator=" " open="INSERT ALL " close="SELECT * FROM DUAL">
		INTO TAGLIST(
			BOOK_NUM,
			TAG
		) VALUES (
			#{taglist.book_num},
			#{taglist.tag}
		)
		</foreach>
	</insert>
	
	<select id = "search_book" parameterType = "java.util.List" resultType = "Book">
	SELECT
			A.book_num,
			A.book_title,
			A.book_image,
			A.book_writer,
			A.book_date,
			A.book_publisher,
			A.book_likecount,
			A.book_content
	FROM BOOK A,
	(select * from
	(select book_num,  count(book_num) as cnt from (select * from taglist where 
		<choose>
			<when test='list.size > 1'>
				<foreach collection="list" item="tag" index="index" separator="or" open="" close="">
				tag = #{tag}
				</foreach>
				)group by book_num)
				where cnt = #{index}+1
			</when>
			<otherwise>
				<foreach collection="list" item="tag" index="index" separator="or" open="" close="">
				tag = #{tag}
				</foreach>
				)group by book_num)
			</otherwise>
		</choose>
	) B
	WHERE A.BOOK_NUM = B.BOOK_NUM
	</select>
	
	<delete id = "delete_taglist">
	delete taglist
	</delete>
	
	<delete id = "delete_tag">
	delete tag
	</delete>

    <select id = "showTags" resultType = "Tag">
		SELECT
		    tag,tag_image
		FROM
		    tag
		WHERE tag in
        (
        '문학',
        '장르소설',
        '취미,오락,여행,건강',
        '철학,사상,종교',
        '자기계발',
        '경제,경영',
        '가정,육아,요리',
        '정치,사회,시사',
        '예술,문화',
        '역사,지리',
        '제태크,부동산',
        '어학,외국어',
        '과학,기술,컴퓨터'

        )
			

	</select>

	<select id = "request_modalTag" parameterType = "String" resultType = "String">
		SELECT
		    TAGLIST.TAG
		FROM
		    BOOK, TAGLIST
		WHERE
		    BOOK.BOOK_NUM = TAGLIST.BOOK_NUM
			AND BOOK.BOOK_TITLE = #{book_title}
			

	</select>

    <update id="request_hitAdd" parameterType ="String">

    update 
        book 
    set 
        BOOK_VIEWCOUNT = BOOK_VIEWCOUNT+1
    where 
        BOOK_TITLE = #{book_title}

    </update>

        <update id="request_scrapAdd" parameterType ="String">

    update 
        book 
    set 
        BOOK_SCRAPCOUNT = BOOK_SCRAPCOUNT+1
    where 
        BOOK_TITLE = #{book_title}

    </update>

        <update id="request_scrapMinus" parameterType ="String">

    update 
        book 
    set 
        BOOK_SCRAPCOUNT = BOOK_SCRAPCOUNT-1
    where 
        BOOK_TITLE = #{book_title}

    </update>

     <update id="request_likeAdd" parameterType ="String">

    update 
        book 
    set 
        BOOK_LIKECOUNT = BOOK_LIKECOUNT - 1
    where 
        BOOK_NUM = #{book_num}

    </update> 

    <update id="request_likeMinus" parameterType="String">

    update 
        book 
    set 
        BOOK_LIKECOUNT = BOOK_LIKECOUNT + 1 
    where 
        BOOK_TITLE = #{book_title}

    </update>
    
    <select id = "request_main_book" resultType = "Book">
    select
    	book_title,
    	book_image,
    	book_writer,
    	book_content
    from 
    	book
    where
    	rownum between 1 and 3
    order by
    	book_likecount desc
    </select>
	

</mapper>