<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.aban.test.dao.BookMapper">
	<insert id="insert_book" parameterType="Book">
		insert into book
			values(
				BOOK_NUM_SEQ.NEXTVAL,
				#{book_title},
				#{book_image},
				#{book_writer},
				#{book_date},
				#{book_publisher},
				#{book_content},
				0
			)
	</insert>
	<select id="select_book" parameterType="Book" resultType="Book">
		select distinct
			book_num,
			book_title,
			book_image,
			book_writer,
			book_date,
			book_publisher,
			book_likecount
		from book
			where book_title = #{book_title}
			and book_image = #{book_image}
			and book_publisher = #{book_publisher}
	</select>
</mapper>