<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.aban.test.dao.ReviewMapper">
	<select id="bookreview" resultType="Review">
		select * from review
	</select>
	<select id="selectOne" parameterType="int" resultType="Review">
		select * from review where rev_num=#{rev_num}
	</select>
	<update id="update" parameterType="Review">
		update review set
		book_title=#{book_title}, regdate=sysdate,
		rev_title=#{rev_title},rev_content=#{rev_content}
		where rev_num=#{rev_num}
	</update>
	
	<update id="addLike" parameterType="int">
		update
			review
		set
			rev_like = rev_like + 1
		where
			rev_num = #{rev_num}
	</update>
	

	
	
</mapper>