<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.aban.test.dao.ReviewMapper">
<insert id="insertCountLike" parameterType="Reglike">
		insert into REGLIKECOUNT values (
			#{rev_num}, #{id},#{pushid},sysdate
		)
	</insert>
	<select id="findmyfan" parameterType="String" resultType="ReglikeCheck">
		select * from(select * from REGLIKECOUNT where id=#{id} and pushid not like #{id} order by REGDATE desc) where 5>=rownum
	</select>
	<insert id="whopushlike" parameterType="ReglikeCheck">
		insert into REGLIKECOUNT values(#{rev_num},#{id},#{pushid},sysdate)
	</insert>

	<select id="bookreview" resultType="Review">
		select * from review
	</select>
	<select id="selectOne" parameterType="int" resultType="Review">
		
		select *
		from review where rev_num=#{rev_num}
	</select>
	
	<update id="update" parameterType="Review">
		update review set
		book_title=#{book_title}, regdate=sysdate,
		rev_title=#{rev_title},rev_content=#{rev_content}
		where rev_num=#{rev_num}
	
	</update>
	<delete id="reviewDelete" parameterType="int">
		delete review where rev_num=#{rev_num} 
		
	</delete>
	

	<update id="addLike" parameterType="int">
      update
         review
      set
         rev_like = rev_like + 1
      where
         rev_num = #{rev_num}
   </update>
   
   <update id="delLike" parameterType="int">
      update 
      	review
      set
      	rev_like = rev_like - 1
      where
      	rev_num = #{rev_num}
   </update>
   
   
   <insert id="reviewWrite" parameterType="Review">
      insert into review(REV_NUM,
      BOOK_TITLE,
      ID,
      REGDATE,
      REV_TITLE,
      REV_CONTENT) values (
      REV_SEQ.nextval, #{book_title}, #{id}, sysdate, #{rev_title}, #{rev_content}
      )
   </insert>



	<select id="selectbydate" resultType="Review">
		select * from review order by REGDATE desc
		
	</select>
	
	<select id="selectbylike" resultType="Review">
		select * from review order by rev_like desc
		
	</select>

	<select id="ranking" resultType="Review">
		SELECT id
		FROM (
		SELECT ID,ROW_NUMBER() OVER(ORDER BY COUNT(ID) DESC) AS RNM
		FROM review
		GROUP BY ID
		) z
		WHERE 5 >= RNM
	</select>
	<select id="checklike" parameterType="Reglike" resultType="Reglike">
		select * from reglike where rev_num=#{rev_num} and id=#{id}
	</select>
	<insert id="insertCheckLike" parameterType="Reglike">
		insert into reglike values (
			#{rev_num}, #{id}
		)
	</insert>
	<select id = "request_main_review" resultType = "Review">
		SELECT 
			rev_num,
			book_title,
			id,
			regdate,
			rev_title,
			rev_content,
			rev_like,
			rev_scrap
		FROM
			REVIEW
		WHERE
			ROWNUM BETWEEN 1 AND 4
		ORDER BY
			REV_LIKE DESC
	</select>
	
	<select id = "reviewTitleSearch" resultType = "Review" parameterType = "String">
		SELECT 
			rev_num,
			book_title,
			id,
			regdate,
			rev_title,
			rev_content,
			rev_like,
			rev_scrap
		FROM
			REVIEW
		WHERE
			REV_TITLE LIKE '%' || #{input} || '%'
	</select>
	
	<select id = "reviewContentSearch" resultType = "Review" parameterType = "String">
		SELECT 
			rev_num,
			book_title,
			id,
			regdate,
			rev_title,
			rev_content
		FROM
			REVIEW
		WHERE
			REV_CONTENT LIKE '%' || #{input} || '%'
	</select>
	
	<select id = "request_revLike" parameterType = "Reglike" resultType = "Reglike">
		SELECT
			*
		FROM
			REGLIKE
		WHERE
			REV_NUM = #{rev_num}
			and ID = #{id}
	</select>
	
	<insert id = "insert_revLike" parameterType = "Reglike">
		INSERT INTO
			REGLIKE
		VALUES(
			#{rev_num},
			#{id}
		)
	</insert>
	
	<delete id = "delete_revLike" parameterType = "Reglike">
		DELETE
			REGLIKE
		WHERE
			REV_NUM = #{rev_num}
			AND ID = #{id}
	</delete>
</mapper>