<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="project.aban.test.vo.Member" alias="Member"/>
		<typeAlias type="project.aban.test.vo.Book" alias="Book"/>
        <typeAlias type="project.aban.test.vo.TestVO" alias="TestVO"/>
		<typeAlias type="project.aban.test.vo.Review" alias="Review"/>
        <typeAlias type="project.aban.test.vo.Tag" alias="Tag"/>

        <typeAlias type="project.aban.test.vo.UserTaste" alias="UserTaste"/>
		<typeAlias type="project.aban.test.vo.Reglike" alias="Reglike"/>
		<typeAlias type="project.aban.test.vo.ReglikeCheck" alias="ReglikeCheck"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/memberMapper.xml"/>
		<mapper resource="mappers/bookMapper.xml"/>
		<mapper resource="mappers/reviewMapper.xml"/>
		<!-- <mapper resource="mappers/likeMapper.xml"/> -->
	</mappers>
</configuration>

